
  <% if @quote.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@quote.errors.count, "error") %> prohibited this email from being sent:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @quote.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Contact us</legend>
                          <%= form_for @quote, :html => { multipart: true, :class => "form-horizontal build" } do |f| %>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                  <%= f.label :name, :class => 'control-label col-lg-2' %>
                                  <%= f.text_field :name, required: true, :class => 'form-control' %>
                                  <%=f.error_span(:name) %>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-8">
                                  <%= f.label :email, :class => 'control-label col-lg-2' %>
                                  <%= f.email_field :email, required: true, :class => 'form-control' %>
                                  <%= f.error_span(:email) %>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                <div class="col-md-8">
                                  <%= f.label :message, :class => 'control-label col-lg-2' %>
                                  <%= f.text_area :message, as: :text, :class => 'form-control' %>
                                  <%=f.error_span(:message) %>
                                </div>
                            </div>
    
                            <div class="form-group hidden">
                                <span class="col-md-1 col-md-offset-2 text-center "><i class="fa fa-pencil-square-o bigicon"></i></span>
                                <div class="col-md-8">
                                  <%= f.label :nickname %>
                                  <%= f.text_field :nickname, hint: 'Leave this field blank!' %>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                  <%= f.submit 'Submit message', :class => 'btn btn-primary' %>
                                </div>
                            </div>
                          <% end %>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
