<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= form_for(@user, :html => {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
        <!--Form group for picture-->
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :picture %>
          </div>
          <div class="col-sm-8">
            <%= f.file_field :picture , class: "form-control" %>
          </div>
        </div>
        
        <!--Form group for username-->
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :username %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :username, class: "form-control", placeholder: "Your username", autofocus: true %>
          </div>
        </div>
        
        <!--Form group for email-->
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :email %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :email, class: "form-control", placeholder: "hey@codekrieg.com" %>
          </div>
        </div>
        
        <!--Form group for password-->
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :password %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password, class: "form-control", placeholder: "Your password" %>
          </div>
        </div>
        
        <!--Form group for the signup button-->
         <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.submit "Sign Up", class: "btn btn-success btn-sm" %>
          </div>
        </div>
        
      <% end %>
    </div>
  </div>
</div>
  
  