<a class="btn btn-link-1 launch-modal" href="#" data-modal-id="modal-login">Awesome Sign Up Button</a>

<!-- MODAL -->

<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h3 class="modal-title" id="modal-login-label">Sign Up on CodeKrieg</h3>
				<p>Enter your username and password to sign in</p>
			</div>
			
			<div class="modal-body">
				
        <%= form_for(@user, :html => {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
        <!--Form group for picture-->
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :picture %>
          </div>
          <div class="col-sm-8">
            <%= f.file_field :picture , class: "form-control" %>
          </div>
        </div>
        
        <!--Form group for username-->
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :username %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :username, class: "form-control", placeholder: "Your username", autofocus: true %>
          </div>
        </div>
        
        <!--Form group for email-->
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :email %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :email, class: "form-control", placeholder: "hey@codekrieg.com" %>
          </div>
        </div>
        
        <!--Form group for password-->
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :password %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password, class: "form-control", placeholder: "Your password" %>
          </div>
        </div>
        
        <!--Form group for the signup button-->
        <button type="submit" class="btn-form">Sign in!</button>
 
      <% end %>
              
			</div>
			
		</div>
	</div>
</div>