<section id="first-section">
    <div class="container">
        <div class="row">
            <div class="first-section-text">
                <div align="center">
                    <h1>We Are <span class="ror-color">CodeKrieg</span></h1>
                    <p>A Ruby on Rails Development Company</p>
                    <a href="#" class="btn btn-common">FIND MORE</a>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>-->
</section>
<!--/first section-->

<section id="services">
    <div class="container">
        <h1 align="center">We offer...</h1>
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <h2>Responsive Design</h2>
                    <p>
                        By working with today's most used front-end, and home-made, technologies, CodeKrieg creates beautiful and responsive designs!
                    </p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <h2>Maintainable Software</h2>
                    <p>
                        Be it SaaS, CMS, eCommerce or just a simple website, CodeKrieg can create all of those. 
                        We are software writters, writing maintainable and error-free code is our main objective!
                    </p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <h2>Friendly Consultancy & Support</h2>
                    <p>
                        We know how frustrating it is to encounter problems with your software. 
                        That is why all of your clients receive free consultancy and support (even after our contract is done!)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/services-->

<section id="action" class="responsive">
    <div>
         <div align="center" class="container">
            <div class="row">
                    <div class="col-sm-12  wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h1 class="title">Have you heard enough?</h1>
                        <p>Are you in a hurry &amp; need a professional team to get your web application up and running?.</p>
                        <%= link_to "HIRE US TODAY", new_contact_path, class: "btn btn-common" %>
                    </div>
            </div>
        </div>
    </div>
</section>
<!--/call to action-->


<section id="features">
    <div class="container">
        <div class="row">
            
            <div class="single-features">
                <div class="col-sm-5">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <%= image_tag('landing.png') %>
                    </div>
                </div>
                <div class="col-sm-6 padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>Young and Experienced</h2>
                    <p>
                        At CodeKrieg all of our programmers are young and have a lot of experience working with software development. <br>
                        Following the path of 37 Signals, we all work remote!
                    </p>
                </div>
            </div>
            
            <div class="single-features">
                <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Ready and Enthusiastic</h2>
                        <p>
                        Our programmers are always ready to work with you! <br>
                        Enthusiasm is one our biggest qualities when working on new projects, beside outstanding software, of course. 
                        </p>
                </div>
                <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                   <%= image_tag('landing2.png') %>
                </div>
            </div>
            
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                   <%= image_tag('landing3.png') %>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Innovative and Capable </h2>
                    <p>
                        Have you ever went to somebody and they said that your idea is bad? <br>
                        Not us, we love to work with new ideas and innovative concepts! 
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h1 class="title">Happy Clients</h1>
                    <p>We love our clients, we also want them to be happy, that is why we work our hardest to bring high quality products for them!</p>
                    <%= link_to "Check Out Our Projects", projects_path, class: "btn btn-common" %>
                </div>
                <!--<div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">-->
                <!--    <div class="col-xs-3 col-sm-2">-->
                <!--        <a href="#"><img src="images/home/client1.png" class="img-responsive" alt=""></a>-->
                <!--    </div>-->
                <!--    <div class="col-xs-3 col-sm-2">-->
                <!--        <a href="#"><img src="images/home/client2.png" class="img-responsive" alt=""></a>-->
                <!--    </div>-->
                <!--     <div class="col-xs-3 col-sm-2">-->
                <!--        <a href="#"><img src="images/home/client3.png" class="img-responsive" alt=""></a>-->
                <!--    </div>-->
                <!--     <div class="col-xs-3 col-sm-2">-->
                <!--        <a href="#"><img src="images/home/client4.png" class="img-responsive" alt=""></a>-->
                <!--    </div>-->
                <!--     <div class="col-xs-3 col-sm-2">-->
                <!--        <a href="#"><img src="images/home/client5.png" class="img-responsive" alt=""></a>-->
                <!--    </div>-->
                <!--     <div class="col-xs-3 col-sm-2">-->
                <!--        <a href="#"><img src="images/home/client6.png" class="img-responsive" alt=""></a>-->
                <!--    </div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
 </section>
<!--/clients-->