<div class="container padding-top-form">
  
    <% if @contact.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@contact.errors.count, "error") %> prohibited this email from being sent:</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% @contact.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    
 
<!-- Form Name -->
<legend class="text-center">Contact Us Today!</legend>

<%= form_for @contact, :html => { multipart: true, :class => "form-horizontal build" } do |f| %>
<!-- Text input-->

<div class="form-group">
  <%= f.label :name, :class => 'col-md-2 control-label' %>
  <div class="col-md-8 inputGroupContainer">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.text_field :name, required: true, :class => 'form-control', placeholder: "Full Name" %>
      <%=f.error_span(:name) %>
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <%= f.label :email, :class => 'col-md-2 control-label' %>
    <div class="col-md-8 inputGroupContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <%= f.email_field :email, required: true, :class => 'form-control', placeholder: "Your email" %>
          <%= f.error_span(:email) %>
      </div>
    </div>
</div>


<!-- Text input-->
       
<div class="form-group">
   <%= f.label :phone, :class => 'col-md-2 control-label' %>
    <div class="col-md-8 inputGroupContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-phone"></i></span>
          <%= f.phone_field :phone, :class => 'col-md-6 form-control', placeholder: "(845)555-1212"%>
      </div>
    </div>
</div>


<!-- Text input-->
 
<div class="form-group">
  <%= f.label :country, :class => 'col-md-2 control-label' %>
    <div class="col-md-8 inputGroupContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-home"></i></span>
           <%= f.text_field :country, :class => 'col-md-6 form-control', placeholder: "Your country"%>
      </div>
    </div>
</div>

<!-- Select Basic -->
   
<div class="form-group"> 
  <%= f.label :budget, :class => 'col-md-2 control-label' %>
    <div class="col-md-8 selectContainer">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-list"></i></span>
        <%= f.select(:budget, { class: "form-control" })  do %>
           <% [['Select A Value', 1], ['$300 - $500', 2], ['$500-$1000', 3], ['$1000-$3000', 4]].each do |c| -%>
            <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
        <% end %>
  
      </div>
    </div>
</div>

<!-- Text input-->
<div class="form-group">
  <%= f.label :website, :class => 'col-md-2 control-label' %>
   <div class="col-md-8 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
        <%= f.text_field :website, :class => 'col-md-6 form-control', placeholder: "Website or Domain name"%>
    </div>
  </div>
</div>

<!-- radio checks -->
 <div class="form-group">
    <label class="col-md-2 control-label">Do you have hosting?</label>
    <div class="col-md-8 selectContainer">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-list"></i></span>
        <%= f.select(:hosting, { class: "form-control" })  do %>
           <% [['Select A Value', 1], ['Yes', 2], ['No', 3]].each do |c| -%>
            <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<!-- Text area -->
  
<div class="form-group">
  <%= f.label :message, :class => 'col-md-2 control-label' %>
    <div class="col-md-8 inputGroupContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
          	<%= f.text_area :message, :class => 'col-md-8 form-control', placeholder: "Project Details" %>
      </div>
    </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <%= f.submit 'Submit message', :class => 'btn btn-warning'%>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->
    
<% end %>