<footer>
  <div class="container footer-2">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6">
        <h4>Contact Us</h4>
        <hr class="divider"></hr>
        <div class="locate">
          <li class="contact"><i class="fa fa-1x fa-map-marker">
             Italy - India
          </i>
          </li>
          
          <li class="contact">
          <i class="fa fa-1x fa-skype">
             codekrieg
          </i>
          </li>
          
          <li class="contact">
            <i class="fa fa-1x fa-phone"> India: <%= number_to_phone(9589109340, country_code: 91) %> </i>
            <i class="fa fa-1x fa-phone"> Italy: <%= number_to_phone(3894355390, country_code: 39) %> </i>
          </li>
        </div>
      </div>
      
      <div class="col-xs-12 col-md-6 col-lg-6">
            <h4 class="titles">We are social</h4>
            <hr class="divider"></hr>
          <div class="social-links">
            <ul class="list-inline text-center">
               <li class="list-unstyled social"> 
                 <%= link_to "https://twitter.com/CodeKrieg" do %>
                  <i class="fa fa-twitter fa-2x"></i>
                 <% end %>
              </li>
              <li class="list-unstyled social"> 
                <%= link_to "https://www.facebook.com/codekriegdev" do %>
                  <i class="fa fa-facebook fa-2x"></i>
                <% end %>
              </li>
              <li class="list-unstyled social">
              <%= link_to "https://github.com/CodeKrieg" do %>
                <i class="fa fa-github fa-2x"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="divider"></hr>
  </div>
  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">
        <ul class="site-links list-inline">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Portfolio", projects_path %></li>
          <li><%= link_to "Services", services_path%></li>
          <li><%= link_to "The Company", company_path%></li>
          <li><%= link_to "Blog", articles_path%></li>
          <li><%= link_to "Request A Quote", "" %></li>
        </ul>
      </div>
      <div class="copyright">
        <p class="text-center"> &copy All Rights Reserved <%= Time.now.year%>, <%= link_to "CodeKrieg", root_path %></p>
        <p class="text-center">
          <%= link_to "Terms And Conditions", tos_path %> <%= link_to "Privacy Policy", privacy_path %> 
        </p>
      </div>
      </div>
  </div>
</footer>

