<footer>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-lg-12 col-xs-12">
        <li class="list-unstyled social">
          <h3 class="titles">Social Media</h3>
          <%= link_to "https://twitter.com/CodeKrieg" do %>
            <i class="fa fa-twitter fa-2x"></i>
          <% end %>
          <%= link_to "https://www.facebook.com/codekriegdev" do %>
            <i class="fa fa-facebook fa-2x"></i>
          <% end %>
          <%= link_to "https://github.com/CodeKrieg" do %>
            <i class="fa fa-github fa-2x"></i>
          <% end %>
        </li>
      </div>
    </div>
    <hr class="divider"></hr>
  </div>
  <div class="container footer-2">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="locate">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, veniam, maiores, ad, itaque esse accusantium saepe expedita ut explicabo aliquid dolore quis eaque eius at minima nobis quisquam dolor dolorum.
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <ul class="site-links">
          <li class="list-unstyled"><%= link_to "Home", "" %></li>
            <li class="list-unstyled"> <%= link_to "Portfolio", "" %></li>
            <li class="list-unstyled"> <%= link_to "Services", "" %></li>
            <li class="list-unstyled"> <%= link_to "The Company", "" %></li>
            <li class="list-unstyled"></li><%= link_to "Blog", "" %></li>
            <%= link_to "Request A Quote", "" %>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <ul class="latest-twitter-post">
          <li class="list-unstyled">
            
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

